body {
    margin: 0;
}

header {
    width: 800px;
    margin-left: calc(50% - 400px);
    margin-top: 20px;
    background-color: yellow;
    display: inline-block;
}

/* logo */
header > img {
    width: 100px;
    height: 30px;
    margin-top: 5px;
    float: left;
}
div {
    float: right;
}

nav {
    float: left;
    margin-top: 10px;
    margin-right: 30px;
    
}
a {
    font-size: 20px;
    line-height: 20px; 
    margin-right: 30px;
}
a:last-child {
    margin-right: 0;
}

/* user avatar */
div > img {
    width: 40px;
    height: 40px;
    float: right;
    border-radius: 50%;
}

